<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Detail</title>
</head>
<body>
    <h1>User Detail</h1>
    <p><strong>ID:</strong> {{ user.id }}</p>
    <p><strong>First Name:</strong> {{ user.first_name }}</p>
    <p><strong>Second Name:</strong> {{ user.second_name }}</p>
    <p><strong>Phone:</strong> {{ user.phone }}</p>
    <p><strong>Created At:</strong> {{ user.created_at }}</p>
    <p><strong>Is User Employee:</strong> {{ user.is_user_employee }}</p>
</body>
</html>
